[core]
	autocrlf = true
	excludesfile = C:\\Users\\Rune\\Documents\\gitignore_global.txt
[user]
	name = Rune Ibsen
	email = rui@copenhagensoftware.com
[push]
	default = simple
[alias]
	removemerged = !git branch --merged | grep -v \"master\" | xargs -n 1 git branch -d
	last = log -1 HEAD
	unstage = reset HEAD --
